.container-disco{
	margin: 1% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}

#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 10px;
	top: 10px;		
}
#carousel figure:nth-child(1){  transform:   rotateY(0deg)  translateZ(288px); }
#carousel figure:nth-child(2) { transform: rotateY(90deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(180deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(270deg) translateZ(288px);}

.disco-img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	border: 1px solid black;
}
.disco-img:hover{
	-webkit-filter: grayscale(0);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}


