#container-concerts {
    min-width: 60%;
    min-height: 60vh;
    margin: auto;
    display: flex;
}

#left-arrow, #right-arrow{
    height: 100%;
    font-size: 6em;
    text-align: center;
    color: rgba(0,0,0,0.7);
    margin-top: 20vh;
    z-index: 1;
    padding: 10px;
}

#left-arrow:hover, #right-arrow:hover{
    color: rgba(191,0,0,0.7);
    cursor: pointer;
}

.descr-show { 
    min-width: 30%;
    height: 30vh;
    margin-top: 10vh;
    background-color: rgba(0,0,0,0.7);
    border: solid 2px  rgba(191,0,0,0.7);
    border-left: none;
    text-align: right;
    overflow: hidden;
}

.info-show h3, .info-show h4, .info-show h5 {
    margin: 10px;
    color: red;
}
.info-show h3{ font-size: 4em; font-weight: bold; }
.info-show h4 { font-size: 2em; color: white; }
.info-show h5 { font-size: 1.3em; font-weight: bold; }

#googleMap {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    min-width: 45%;
    border: 1px solid lightgrey;
}

#googleMap:hover {
    -webkit-filter: grayscale(0%);
}

@media only screen and (max-width: 768px) {
    #container-concerts{
        margin-top: 13%;
    }

    #googleMap{ 
        margin-top: 3%;
    }
}

@media only screen and (max-width: 600px){
    .descr-show{
        width: 65%;
        min-height: 270px;
        text-align: center;
    }
    #googleMap{
        display: none;
    }
    #right-arrow, #left-arrow{
        font-size: 3em;
    }

    #container-concerts{
        margin: auto;
    }
}
