/*FACES SQUARE*/
.bounding-box{
	position: absolute;
	box-shadow: 0 0 0 3px rgba(244,244,233,0.3) inset;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
}

.content-members{
	display: flex;
	justify-content: center;
}

#members-image{
	position: absolute;
	margin-top: 100px;
}

.bounding-box:hover{
	box-shadow: 0 0 0 3px rgba(244,244,233,1) inset;
}

#inputImage{
	height: 80vh;
}

@media only screen and (max-width: 768px) {
	#members-image{
		width: 100%;
		box-shadow: none;
	}
	#inputImage{
		width: 100%;
		margin: 0;
		height: 60vh;
	}
}

